* {
  margin: 0;
  padding: 0;
  
}

#backgroundImage {
  background-image: url('img/background.jpg');
  opacity: 80%;
}
body {
    width: 100%;
    height: 100%;
    font-family: 'Copperplate';
}
h1{
  color: rgb(4, 4, 74);
  font-size: 75px;
}
span {
  font-size: 40px;
  color: rgb(4, 4, 74);
}

.heading-start {
  position: absolute;
  text-align:center;
}

.startpage{
  display: flex;
  flex-wrap: wrap;
}
#bild-sp{
  width: 950px;
  height: 480px;
  opacity: 70%;
}
.sp-button{
  width: 20%;
  height: 100px;
  font-size: xx-large;
  font-family: 'Copperplate';
  color: rgb(4, 4, 74);
  background-color:  rgb(216, 191, 93);
  position: absolute;
  top: 51%;
  right: 31%;
  transform: translate(-49%, -19%);
  z-index:1;
}

.navbar{
    background-color: rgb(216, 191, 93);
}



.modal-content {
    background-color: rgb(216, 191, 93);
}


.hopala{
    text-align: center;
}
.hopala{
    -webkit-animation: tilt-in-fwd-tr 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-fwd-tr 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes tilt-in-fwd-tr {
  
    0% {
      -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
              transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
              transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity: 1;
    }
  }
  @keyframes tilt-in-fwd-tr {
    0% {
      -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
              transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
              transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity: 1;
    }
  }

  #hk{
    width: auto;
    height: auto;
  }
  
  .col{
    display: flex!important;
    
  }

  .col-4{
    background-color:blanchedalmond;
  }
  .p-3 {
    border-radius: 5%;
    width: 600px;
    height: 300px;
    display: grid;
   
    grid-template-rows: 70% 30%;

  }

  .col-4{
    width: 200px;
    height: 100px;
  }
  .pl1{
    background-color: rgb(196, 235, 196)!important;
  }
  .pl2{
    background-color: rgb(245, 219, 170)!important;
  }
 .pl3{
    background-color: rgb(238, 170, 170)!important;
  }
  .pl4{
    background-color: rgb(198, 245, 245)!important;
  }
  #bild{
    width: 40%;
    height: 90%;
    border-radius: 70%;
    float: left;
  }
  #gif{
    width: 60%;
    height: 100%;
    border-radius: 50%;
    padding: 8px;
  }

.ul-card {
  display: flex;
  justify-content: center;
}

.button-card, .draw-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-card:hover, .draw-button:hover {
  transition: .3s ease-in;
  transform: scale(110%);
}

.hidden {
  display: none;
}

.margin-top {
margin-top: 191px;
}

.col {
  padding: 20px;
}

.score {
  display: flex;
  flex-direction: column;
}

.swap {
display: flex;
flex-wrap: wrap
}

.swap2 {
  order:1;
}

.swap1 {
  order: 2;
}